<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./card.css">
    <title>Example Card</title>
</head>

<body>
    <div class="card">
        <img class="card-image" src="https://i.pinimg.com/736x/e3/a8/b6/e3a8b6a01cdb33ed4dc859734ac80c84.jpg" alt="buah buahan segar">
        <div class="card-content">
            <h2 class="card-title">Buah Pisang</h2>
            <p class="card-description">Buah pisang yang dipetik langsung dari kebun, tanpa obat-obatan dan 100% organik
            </p>
            <p class="card-price">Rp 25.000/kg</p>
            <button class="card-button">Beli Sekarang</button>
        </div>
    </div>
</body>

</html>